@import './clock-component/clock';

html, body {
  background-color: transparent;
}

body {
  -webkit-app-region: drag;
  border:2px solid firebrick
}

input {
  -webkit-app-region: no-drag;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}
